.type-1339 .page {
  background-image: url("../images/maylanh.jpg");
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  border: none;
  height: auto;
  padding-top: 20px;
}
.type-1339 .container {
  padding-top: 50px;
}
.type-1339 .container .logo {
  padding-top: 0px;
  padding-bottom: 50px;
}
.type-1339 .container h1 {
  font-size: 36px;
  font-weight: 400;
  color: black;
}
.type-1339 .container p {
  padding-top: 20px;
}
.type-1339 .container h5 {
  font-size: 20px;
  color: #335691;
  font-weight: bold;
  padding-top: 30px;
}
.type-1339 .container form {
  background-color: #335691;
  width: 360px;
  height: 520px;
  padding: 6px 12px;
  font-size: 14px;
  text-align: center;
}
.type-1339 .container form .submit {
  background-color: orange;
  text-align: center;
  padding: 10px 130px;
}
.type-1339 .container form .content {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.type-1339 .container form h2 {
  font-size: 20px;
  color: #fff;
  text-aline: center;
}
.type-1339 .container form h1 {
  color: #fff;
  font-size: 30px;
  text-aline: center;
}
.type-1339 .container form p {
  color: #fff;
  font-size: 16px;
  text-aline: center;
}
.type-1339 .container .form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #335691;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-top: 20px;
  color: white;
}
.type-1339 .container .form-control .button {
  padding-top: 50px;
  background-color: black;
  color: #fff;
  border: 3px solid #fff;
}
.type-1339 .container .r-first {
  float: right;
  color: black;
}
.type-1339 .container .navbar-1 {
  color: black;
}
.type-1339 .container .navbar-1:hover {
  color: #b3b3b3;
  text-decoration: none;
}
.type-1339 .container .ic-bar {
  float: right;
}
.type-1339 .container .languages {
  float: right;
}
.type-1339 .container .input {
  float: right;
}
.type-1339 .container .navbar-default .navbar-collapse {
  background-color: #3a3d44;
}
.type-1339 .container .navbar-2 {
  color: white;
}
.type-1339 .container .navbar-default .navbar-nav>li>a:focus,
.type-1339 .container .navbar-default .navbar-nav>li>a:hover {
  color: #b3b3b3;
}
.type-1339 .container .new {
  background: #eac66a;
  background-size: cover;
  height: 22px;
  position: absolute;
  top: -12px;
  width: 52px;
}
.type-1339 .container .new span {
  color: #fff;
  margin-left: 10px;
}
