.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.a {
  padding-right: 2px !important;
  padding-left: 2px !important;
}
.owl-next {
  color: red;
}
.navbar-default .navbar-toggle:hover {
  background-color: #DFBA6A;
  border: 1px solid #DFBA6A;
}
.type-895-2 .header-logo {
  padding: 15px;
}
.type-895-2 .header-logo .logo {
  float: left;
}
.type-895-2 .header-logo .logo #s1 {
  font-size: 30px;
  color: black;
}
.type-895-2 .header-logo .logo #s2 {
  font-size: 30px;
  color: #dfba6a;
}
.type-895-2 .header-logo .logo #s3 {
  font-size: 50px;
}
.type-895-2 .header-logo .logo #s4 {
  position: relative;
  top: -5px;
  color: black;
  font-size: 17px;
}
.type-895-2 .header-logo .header-right {
  margin-top: 20px;
  float: right;
}
.type-895-2 .header-logo .header-right a {
  color: black;
  font-size: 15px;
}
.type-895-2 .header-logo .header-right .r-first {
  position: relative;
  top: -14px;
  float: right;
}
.type-895-2 .header-logo .header-right .r-first a {
  text-decoration: none;
}
.type-895-2 .header-logo .header-right .r-sc {
  width: 450px;
  height: 42px;
  clear: both;
}
.type-895-2 .header-logo .header-right .r-sc .input {
  float: right;
  width: 209px;
  position: relative;
}
.type-895-2 .header-logo .header-right .r-sc .input input[type="text"] {
  padding: 10px 5px;
  width: 100%;
  float: right;
}
.type-895-2 .header-logo .header-right .r-sc .input .fa-search {
  position: absolute;
  right: 5px;
  top: 10px;
}
.type-895-2 .header-logo .header-right .r-sc select {
  margin: 0 5px;
  padding: 10px 0;
  float: right;
}
.type-895-2 .header-logo .header-right .r-sc .ic-bar {
  float: right;
  border: 1px solid #bbb;
  height: 42px;
  width: 54px;
  padding: 8px 14px;
}
.type-895-2 .header-logo .header-right .r-sc .ic-bar i {
  font-size: 25px;
}
.type-895-2 .navbar {
  margin-top: 20px;
  border-radius: 0 !important;
  background: #3a3d44 !important;
}
.type-895-2 .navbar .navbar-header {
  cursor: pointer;
}
.type-895-2 .navbar .navbar-right {
  margin-right: 10px;
}
.type-895-2 .navbar .navbar-right li {
  border-left: 1px solid #ccc;
}
.type-895-2 .navbar .navbar-right li:last-child {
  border-right: 1px solid #ccc;
}
.type-895-2 .navbar ul li {
  position: relative;
}
.type-895-2 .navbar ul li .new {
  position: absolute;
  top: -18px;
  padding: 4px 7px;
  right: 0;
  width: 38px;
  height: 27px;
  background: #bfae80;
}
.type-895-2 .navbar ul li .new span {
  font-size: 10px;
  color: white;
}
.type-895-2 .navbar ul li:hover,
.type-895-2 .navbar ul li:focus {
  background: #dfba6a;
}
@media screen and (max-width: 884px) {
  .type-895-2 .navbar {
    margin-top: 10%;
  }
  .type-895-2 .navbar-right {
    visibility: hidden;
    display: none;
  }
}
@media screen and (max-width: 884px) {
  .type-895-2 .header-logo {
    position: relative;
    padding: 0 !important;
    margin: auto;
    height: 100px;
    text-align: center;
  }
  .type-895-2 .header-logo .logo {
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    float: none;
  }
  .type-895-2 .header-logo .header-right {
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    top: 100%;
    float: left !important;
  }
  .type-895-2 .header-logo .header-right .r-first {
    float: none !important;
  }
  .type-895-2 .header-logo .header-right .r-sc {
    margin-left: -10%;
  }
}
@media screen and (max-width: 884px) and screen and (max-width: 500px) {
  .type-895-2 .r-sc {
    visibility: hidden;
  }
}
@media screen and (max-width: 500px) {
  .type-895-2 .r-sc {
    visibility: hidden;
  }
}
